* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F4F7FC;
  color: #3A3A3A;
}

.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.box {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.inline-block {
  display: inline-block;
}

.star {
  background-color: #4286F4;
  padding: 7px;
  border-radius: 3px;
  color: white;
  margin-right: 10px;
}

.menu-contenedor {
  height: 100%;
  max-width: 200px;
  margin: auto;
  padding: 2em 0;
}

.close-right {
  text-align: right;
}