header.t-header {
  padding: 5px 10px;
  box-shadow: 0px 5px 5px 0px rgba(136,136,136,0.8);
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.t-charts {
  display: flex;
}

.t-charts .t-chart.t-side {
  position: relative;
  min-height: 20vh;
  min-width: 20vw;
}

.t-charts .t-chart.t-side canvas {
  margin-top: 2em;
}

.t-charts .t-chart.t-center {
  position: relative;
  min-height: 20vh;
  min-width: 40vw;
}

.t-chart {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  margin: 10px;
}

.t-box-info {
  display: flex;
}

.t-box-info .t-chart {
  flex-grow: 1;
}